<!-- Header -->
	<header id="head-internal">
		<div class="container">
			<div class="row">
				<h1 class="lead">Contact Us</h1>
				<p class="tagline">Initial consultations are always free.</p>
				<!--<p><a class="btn btn-default btn-lg" role="button">CONTACT US</a> <a class="btn btn-action btn-lg" role="button">OUR WORK</a></p>-->
			</div>
		</div>
	</header>
	<!-- /Header -->
<div class="container">
<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Contact Us</h1>
				</header>
				
				<p>
					We’d love to hear from you. Interested in working together? Fill out the form below with some info about your project and we will get back to you as soon as we can. Please allow a couple days for the firm to respond.
				</p>
				<br>
					<div class="col-sm-8 col-md-6">
			{{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Name</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Message</label>
					<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
			{{/if}}
		</div>
			</article>
			<!-- /Article -->
<aside class="col-sm-3 sidebar sidebar-right">
				<div class="widget">
					<h4>Address</h4>
                    <h2>Helghast Design</h2>
					<address>
						 6320 Westwood Court<br> Edina, MN. 55436<br>
                        <a href="#">helladesign@helghast.com</a>
					</address>
					<h4>Phone:</h4>
					<address>
						(713) 791-1414
					</address>
				</div>
			</aside>
</div>















